* {
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
    width: 100%;
}
.container {
    padding: 0 4rem;
    margin: auto;
    overflow: hidden;
}
/*header img*/
#home {
    background: url('../images/hero3.jpg')no-repeat center center/cover;
    height: 100vh;
}
/*navigation menu*/
.main-nav {
    background-color: rgba(0, 48, 255, 0.33);
    padding: -4rem;
    display: flex;
    padding-top: 2rem;
    align-items: center;
    justify-content: space-between;
}
.main-nav ul {
    display: flex; 
}
.main-nav ul li {
    padding:0 0.7rem;
}
.main-nav ul li a {
    padding: 0 0.4rem;
}
.main-nav ul li a {
    color: aliceblue;
}
.main-nav ul li a:hover {
    border-bottom: 2px solid orange;
    border-radius: 5px;
}